<app-fullscreenheader></app-fullscreenheader>
<div class="header">
  <div>
    <h1>Datenschutzerklärung</h1>
  </div>
</div>
<section>
  <div class="content">
  <h2>1. Datenschutz auf einen Blick</h2>
  <h3>Allgemeine Hinweise</h3>
  <p>
    Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
    Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen.
  </p>
  <p>
    Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
    identifiziert werden können. Ausführliche Informationen zum Thema
    Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
    Datenschutzerklärung.
  </p>
  <h3>Datenerfassung auf dieser Website</h3>
  <b>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</b>
  <p>
    Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
    Dessen Kontaktdaten können Sie dem
    <a [routerLink]="'impressum'"><b>Impressum</b></a> dieser Website entnehmen.
  </p>

  <b>Wie erfassen wir Ihre Daten?</b>
  <p>
    Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
    Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular
    eingeben. Andere Daten werden automatisch beim Besuch der Website durch
    unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B.
    Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
    Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website
    betreten.
  </p>
  <b>Wofür nutzen wir Ihre Daten?</b>
  <p>
    Es werden nur Daten erhoben, um eine fehlerfreie Bereitstellung der Website
    zu gewährleisten.
    <b
      >Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden
      nicht erhoben.</b
    >
  </p>
  <b>Welche Rechte haben Sie bezüglich Ihrer Daten?</b>
  <p>
    Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft,
    Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten.
    Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu
    verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie
    sich jederzeit unter der im
    <a [routerLink]="'impressum'"><b>Impressum</b></a> angegebenen Adresse an
    uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen
    Aufsichtsbehörde zu. Außerdem haben Sie das Recht, unter bestimmten
    Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten
    zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter
    „Recht auf Einschränkung der Verarbeitung“.
  </p>
  <b>Analyse-Tools und Tools von Drittanbietern</b>
  <p>
    Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet
    werden. Das geschieht anonymisiert über Google Crachlytics und dient zur
    Fehleranalyse der Webanwendung.

    <b
      >Es werden keine Cookies verwendet. Es erfolgt auch keine andere
      Auswertung des Surfverhaltens.</b
    >
  </p>

  <h2>2. Hosting</h2>
  <h3>Externes Hosting</h3>
  <p>
    Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Die
    personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf
    den Servern des Hosters gespeichert. Hierbei kann es sich v. a. um
    IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten,
    Kontaktdaten, Namen, Webseitenzugriffe und sonstige Daten, die über eine
    Website generiert werden, handeln. Der Einsatz des Hosters erfolgt zum
    Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden
    Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren,
    schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen
    professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO). Unser Hoster wird
    Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner
    Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese
    Daten befolgen. Abschluss eines Vertrages über Auftragsverarbeitung Um die
    datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag
    über Auftragsverarbeitung mit unserem Hoster geschlossen.
  </p>

  <h2>3. Allgemeine Hinweise und Pflichtinformationen</h2>
  <h3>Datenschutz</h3>
  <p>
    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr
    ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
    entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerklärung. Wenn Sie diese Website benutzen, werden verschiedene
    personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen
    Sie persönlich identifiziert werden können. Die vorliegende
    Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie
    nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht. Wir
    weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der
    Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
    Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>
  <h3>Hinweis zur verantwortlichen Stelle</h3>
  <p>
    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
  </p>
  Hans Anthes<br />
  Friedrichstr. 45<br />
  67678 Mehlingen<br />
  E-Mail: hans@anthesfotografie.de<br />
  <p>
    Verantwortliche Stelle ist die natürliche oder juristische Person, die
    allein oder gemeinsam mit anderen über die Zwecke und Mittel der
    Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o.
    Ä.) entscheidet.
  </p>
  <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
  <p>
    Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
    Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
    jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an
    uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung
    bleibt vom Widerruf unberührt.
  </p>
  <h3>
    Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen
    Direktwerbung (Art. 21 DSGVO)
  </h3>
  <p>
    WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F
    DSGVO ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS
    IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER
    PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF
    DIESE BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF
    DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG.
    WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN PERSONENBEZOGENEN
    DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE
    SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN,
    RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE VERARBEITUNG DIENT DER
    GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN (WIDERSPRUCH
    NACH ART. 21 ABS. 1 DSGVO). WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET,
    UM DIREKTWERBUNG ZU BETREIBEN, SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH
    GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE
    DERARTIGER WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES
    MIT SOLCHER DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN,
    WERDEN IHRE PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER
    DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).
  </p>
  <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
  <p>
    Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein
    Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem
    Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des
    Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet
    anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
  </p>
  <h3>Recht auf Datenübertragbarkeit</h3>
  <p>
    Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in
    Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen
    Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen.
    Sofern Sie die direkte Übertragung der Daten an einen anderen
    Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
    ist.
  </p>
  <h3>SSL- bzw. TLS-Verschlüsselung</h3>
  <p>
    Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
    vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie
    an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine
    verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
    Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in
    Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist,
    können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen
    werden.
  </p>
  <h3>Auskunft, Löschung und Berichtigung</h3>
  <p>
    Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
    Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen
    Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und
    ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu
    weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit
    unter der im Impressum angegebenen Adresse an uns wenden.
  </p>
  <h3>Recht auf Einschränkung der Verarbeitung</h3>
  <p>
    Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer
    personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit unter
    der im Impressum angegebenen Adresse an uns wenden. Das Recht auf
    Einschränkung der Verarbeitung besteht in folgenden Fällen:
  </p>
  <ul>
    <li>
      Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen
      Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen.
      Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung der
      Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
    </li>
    <li>
      Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig
      geschah/geschieht, können Sie statt der Löschung die Einschränkung der
      Datenverarbeitung verlangen.
    </li>
    <li>
      Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch
      zur Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen
      benötigen, haben Sie das Recht, statt der Löschung die Einschränkung der
      Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
    </li>
    <li>
      Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss
      eine Abwägung zwischen Ihren und unseren Interessen vorgenommen werden.
      Solange noch nicht feststeht, wessen Interessen überwiegen, haben Sie das
      Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
      verlangen.
    </li>
  </ul>
  <p>
    Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben,
    dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer
    Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von
    Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
    juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses
    der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
  </p>
  <h3>Widerspruch gegen Werbe-E-Mails</h3>
  <p>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
    Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung
    und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der
    Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
    unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
  </p>
  <h2>4. Datenerfassung auf dieser Website</h2>
  <h3>Cookies</h3>
  <p>Diese Seite verwendet keine Cookies.</p>
  <h3>Server-Log-Dateien</h3>
  <p>
    Der Provider der Seiten erhebt und speichert automatisch Informationen in so
    genannten Server-Log-Dateien, die Ihr Browser automatisch an uns
    übermittelt. Dies sind:
  </p>
  <ul>
    <li>Browsertyp und Browserversion</li>
    <li>verwendetes Betriebssystem</li>
    <li>Referrer URL</li>
    <li>Hostname des zugreifenden Rechners</li>
    <li>Uhrzeit der Serveranfrage</li>
    <li>IP-Adresse</li>
  </ul>
  <p>
    Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht
    vorgenommen. Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6
    Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an
    der technisch fehlerfreien Darstellung und der Optimierung seiner Website –
    hierzu müssen die Server-Log-Files erfasst werden.
  </p>
  <h3>Anfrage per E-Mail, Telefon</h3>
  <p>
    Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre
    Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name,
    Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns gespeichert und
    verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. Die
    Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b
    DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt
    oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen
    übrigen Fällen beruht die Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1
    lit. a DSGVO) und/oder auf unseren berechtigten Interessen (Art. 6 Abs. 1
    lit. f DSGVO), da wir ein berechtigtes Interesse an der effektiven
    Bearbeitung der an uns gerichteten Anfragen haben. Die von Ihnen an uns per
    Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur
    Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der
    Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener
    Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen –
    insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.
  </p>
  <h2>5. Soziale Medien</h2>
  <p>
    Diese Seite nutz keine Plugins für Facebook, Instagram, Pinterest. Die
    Verlinkung zu Facebook oder Instagram erfolgt über statische Links.
  </p>
  <h2>6. Analyse-Tools und Werbung</h2>
  <h3>Google Analytics</h3>
  <p>Diese Seite nutz Google Analystics nicht.</p>
  </div>
</section>
<app-foot></app-foot>
<app-nocookie></app-nocookie>
