<div class="container">
  <div class="container-image">
    <img
      loading="lazy"
      [src]="'https://1.bp.blogspot.com/-ECmhr_iq9jQ/X-HpGOvR1zI/AAAAAAAAHbo/6C1jADlyu5Um8sQwyCsjd6ZHc-209uD7ACLcBGAsYHQ/s320/me.jpg'"
    />
  </div>
  <div class="container-content">
    <h3>Die Blende einer Kamera und die Pupille sind nicht dazu da, Informationen hereinzulassen, sondern dazu, welche auszublenden.
      – K. C. Cole –</h3>
    <p>
      Mein Ziel ist es, Bilder zu erschaffen, die berühren, begeistern und
      Emotionen wecken.
    </p>
    <p>
      Bilder sind Erinnerungen und diese benötigen eine entspannten Atmosphäre.
      Ich betrachte die Fotografie als eine Passion und Bereicherung. Und das
      möchte ich gern mit Dir teilen.
    </p>
     <p>
      Fotoshootings bei mir sollen Spaß machen und ein Erlebnis sein. Neben
      guten Bildern ist mir der „Wohlfühlfaktor“ beim Shooting daher sehr
      wichtig.
    </p>
  </div>

</div>
