.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  .container-image {
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-position: bottom;
      object-fit: cover;
    }
  }
  .container-content {
    max-width: 800px;
    p {
      line-height: 1.5;
    }
  }
}
