<h1>Shop</h1>
<div class="container">
<div class="gallerycontainer" *ngFor="let exhibition of exhibtion$ | async;">
  <app-shopgallery [exhibition]="exhibition" ></app-shopgallery>
</div>
<app-shoptcart></app-shoptcart>
</div>
