<div class="container">

  <div class="card reverse">
    <div class="card-image">
      <img
        loading="lazy"
        [src]="'https://1.bp.blogspot.com/-V5NoYYBzfJ4/X-H3SnUnDvI/AAAAAAAAHb4/gLIWP74h9QA0Ly3SO1aPgHBXEVFGDBh0wCLcBGAsYHQ/s280/DSC_9136-Bearbeitet.jpg'"
      />
    </div>
    <div class="card-content">
      <h4>Fotokurse und Workshops</h4>
      <p>
        Die Kurse und Workshops richten sich an Menschen, die sich für das
        Fotografieren generell interessieren und einen soliden Einstieg suchen.
      </p>
      <p>
        Hier zeige ich Dir in der Praxis, welche Elemente für ein gelungenes
        Fotoshooting erforderlich sind, welche Voraussetzungen ein gutes Foto
        erfüllen muss und welche möglichkeiten digitale Bildbearbeitung bietet.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img
        loading="lazy"
        [src]="'https://1.bp.blogspot.com/-1p46mL3tNuo/X-Hx6XbuRYI/AAAAAAAAHbw/Am9OOZG7Os4sx0gWdPusVg6-Bqs3ezpIwCLcBGAsYHQ/s280/DSC_3573.jpg'"
      />
    </div>
    <div class="card-content">
      <h4>Kontakt</h4>
      <p>
        <app-contact></app-contact>
      </p>
    </div>

  </div>
</div>
