.container {
  padding: 2rem;
  display: flex;
  row-gap: 3rem;
  flex-wrap: wrap;
  .card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    .card-image {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
      }
    }
    .card-content {
      max-width: 800px;
      p {
        line-height: 1.5;
      }
    }
  }
}
