<app-fullscreenheader></app-fullscreenheader>
<div class="header">
  <div><h1>Preise</h1></div>
</div>

<section>
  <div class="content">
    <p>Ich biete keine komzerizellen shootings an.</p>
    <p>Wenn ihr Interesse an einem TFP-Shooting habt kontaktiert mich einfach.</p>
  </div>
</section>

<app-foot></app-foot>
<app-nocookie></app-nocookie>
