.hero-image {
   height: 90vh;
   position: relative;
  .bkimage {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
    z-index: -1;
  }
  .logocontainer {
    display: flex;
    justify-content: center;
    .hero-logo {
      width: 60%;
      max-width: 800px;
      background-color: rgba(7, 7, 7, 0.3);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
