<div class="hero-image">
  <img class="bkimage" src="{{hero | sizingpipe : '1600'}}" />
  <div class="logocontainer">
    <div class="hero-logo">
      <img src="assets/logo1024.png" />
    </div>
  </div>
</div>
