<div class="hero">
  <img src="{{exhibition?.titelPicture | sizingpipe : '1600'}}" />
</div>

<div class="home">
  <a *ngIf="!presentation" [routerLink]="'/'"
    ><fa-icon [icon]="homeIcon"></fa-icon
  ></a>
</div>

<div *ngIf="!presentation" class="header">
  <div>
    <h1>{{ exhibition?.titel }}</h1>
  </div>
</div>

<section *ngIf="!presentation" class="content">
  <div class="text">
    <p *ngFor="let line of exhibition?.content">{{line}}</p>
    <div class="metadata">
      Die Galerie enthält {{exhibition?.pictures.length}} Bilder
      <span (click)="autostart()"><fa-icon [icon]="starticon"></fa-icon></span>
      <div class="pictures">
        <div *ngFor="let pic of exhibition?.pictures; let i=index">
          <img src="{{pic.url | sizingpipe : '120'}}" (click)="start(i)" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-slider [run]=autorun [index]=index [pictures]=exhibition.pictures (close) = "closeing($event)" *ngIf="presentation"> </app-slider>
