.hero {
  position: relative;
  img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
    z-index: -1;
  }
}

.home {
  display: flex;
  position: fixed;
  a {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
    }
  }
}
.header {
  display: flex;
  justify-content: center;
  padding-top: 10rem;

  div {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1480px;
    background-color: rgba(7, 7, 7, 0.3);
  }
  :is(h1, h2) {
    line-height: 1;
    display: flex;
    justify-content: center;
    color: white;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
    font-style: italic;
  }
}
.content {
  display: flex;
  justify-content: center;
  .text {
    padding: 1.5rem;
    max-width: 1480px;
    background-color: rgba(7, 7, 7, 0.9);
    color: white;
  }
  .metadata {
    border: solid white;
    padding: 1.5rem;
    span {
      cursor: pointer;
    }
    .pictures {
      padding-top: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
      div {
        width: 120px;
        height: 120px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 10% 10%;
          transition: object-position 0.5s ease;
        }
        &:hover img {
          object-position: 60% 60%;
        }
      }
    }
  }
}
