<section>
  <app-hero-banner></app-hero-banner>
</section>
<div class="container">
  <div>
    <section class="content">
      <app-personalinformation></app-personalinformation>
    </section>
    <section class="content">
      <app-portfolios></app-portfolios>
    </section>
    <section class="content">
      <app-exhibitions></app-exhibitions>
    </section>
    <section class="content">
      <app-cards></app-cards>
    </section>
  </div>
</div>
<app-foot></app-foot>

<app-nocookie></app-nocookie>
