
<div class="container">
  <h1>Portfolio</h1>
  <div class="portfolios">
  <div  class="portfolio" *ngFor="let card of cards$ | async;">
    <a [routerLink]="'/gallery/' + card.label">
      <div class="portfolio-image">
      <img loading="lazy" [src]="card.pictureUrls | samplepipe | sizingpipe : '300'" />
      </div>
    </a>
    <div class="portfolio-content">
    <h4><a [routerLink]="'/gallery/' + card.label">{{card.titel}}</a></h4>
  </div>
  </div>
</div>
</div>
