.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .portfolios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 2.5rem;
    .portfolio {
      position: relative;
      .portfolio-image {
        width: 360px;
        height: 360px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-position: 30% 30%;
          object-fit: cover;
          transition: height 0.5s, width 0.5s, object-position 0.5s;
        }
      }
      .portfolio-content {
        background-color: rgba(7, 7, 7, 0.3);
        position: absolute;
        height: 200px;
        width: 360px;
        bottom: 0em;
        display: flex;
        justify-content: center;
        transition: height 0.5s, background-color 1s;
        a {
          color: white;
          text-decoration: none;
        }
      }
      &:hover .portfolio-content {
        height: 80px;
        background-color: rgba(7, 7, 7, 0.8);
      }
      &:hover .portfolio-image img{
        width: 130%;
        height: 130%;
        object-position: 30% 60%;
      }
    }

  }
}


