ul {
  list-style: none;
  padding-right: 2rem;
}

a {
  color: white;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) left -100% bottom 0,
    linear-gradient(currentColor 0 0) right -100% bottom 0;
  background-size: 40% 3px;
  background-repeat: no-repeat;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    background-position: left 10% bottom 0, right 10% bottom 0;
  }
}


