<ul>
  <li>
    <a href="mailto:hans@anthesfotografie.de">
      <fa-icon [icon]="ad"></fa-icon><span> hans@anthesfotografie.de</span></a
    >
  </li>
  <li>
    <a href="https://www.facebook.com/amkaltenpolar/">
      <fa-icon [icon]="facebook"></fa-icon><span> Facebook</span></a
    >
  </li>

  <li>
    <a href="https://www.instagram.com/amkaltenpolar/">
      <fa-icon [icon]="instagram"></fa-icon><span> Instagram</span></a
    >
  </li>
</ul>
