<div *ngIf="item.prints">
  <p>{{item.description}}</p>
  <img loading="lazy" src="{{item.url | sizingpipe : '150'}}" />
  <ul>
    <li *ngFor="let print of item.prints" (click)="addItem(item, print)">
      {{print.format}} /{{print.price | number:'1.2'}}€
    </li>
  </ul>
</div>
