
<section class="presentation">
  <img
    (load)="onImageLoad($event)"
    src="{{pictures[index].url | sizingpipe : '1600'}}"
  />
</section>

<div class="controls">
  <div class="controlpanel">
    <span (click)="back()"><fa-icon [icon]="left"></fa-icon></span>
    <span (click)="stop()"><fa-icon [icon]="home"></fa-icon></span>
    <span (click)="next()"><fa-icon [icon]="right"></fa-icon></span>
    <span (click)="auto()"
      ><fa-icon [icon]="stopwatch" [spin]="automode"></fa-icon
    ></span>
    <fa-icon *ngIf="loading" [icon]="faSpinner" [spin]="true"></fa-icon>
    <div class="progress" [style.width]="progress()+'%'"></div>
    <div class="lenght"></div>
  </div>
</div>
