.presentation {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  height: 100vh;
  justify-content: center;
  img {
    object-fit: cover;
    max-height: 100vh;
    width: auto;
  }
}

.controls {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;

  .controlpanel {
    padding: 0.5rem;
    background-color: rgba(240, 240, 240, 0.4);
    span {
      cursor: pointer;
      padding: 0.8rem;
    }
    .titel {
      margin-bottom: 1.2rem;
      display: flex;
      justify-content: center;
    }
    .progress {
      bottom: 2px;
      height: 4px;
      background-color: rgb(64, 74, 78);
    }
    .lenght {
      bottom: 0px;
      height: 2px;
      width: 100%;
      background-color: rgb(16, 20, 22);
    }
  }
}
