<section>
  <div class="container">
    <ul>
      <li><a [routerLink]="'/preise'">Preise</a></li>
      <li><a [routerLink]="'/workshop'">Workshops/Kurse</a></li>
    </ul>
    <ul>
      <li>
        <a href="https://www.fotocommunity.de/fotograf/hanthes/1882724"
          >Fotocommunity</a
        >
      </li>
      <li><a href="https://500px.com/p/amkaltenpolar">500px</a></li>
      <li><a href="https://am-kalten-polar.blogspot.com/">Blogger</a></li>
    </ul>
    <ul>
      <li>
        <a href="mailto:hans@anthesfotografie.de">
          <fa-icon [icon]="ad"></fa-icon
          ><span> hans@anthesfotografie.de</span></a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/amkaltenpolar/">
          <fa-icon [icon]="facebook"></fa-icon><span> Facebook</span></a
        >
      </li>

      <li>
        <a href="https://www.instagram.com/amkaltenpolar/">
          <fa-icon [icon]="instagram"></fa-icon><span> Instagram</span></a
        >
      </li>
    </ul>
    <ul>
      <li><a [routerLink]="'/impressum'">Impressum</a></li>
      <li><a [routerLink]="'/datenschutz'">Datenschutz</a></li>
    </ul>
  </div>
</section>
<section>
  <div class="copyright">
    © Copyright 2017 – Urheberrechtshinweis<br />

    Alle Inhalte dieser Webseite, insbesondere Texte, Fotografien und Grafiken,
    sind urheberrechtlich geschützt. Das Urheberrecht liegt, soweit nicht
    ausdrücklich anders gekennzeichnet, bei Hans Anthes
  </div>
</section>
