.container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
section {
  background-color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
  padding-right: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) left -100% bottom 0,
    linear-gradient(currentColor 0 0) right -100% bottom 0;
  background-size: 40% 3px;
  background-repeat: no-repeat;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    background-position: left 10% bottom 0, right 10% bottom 0;
  }
}

.copyright {
  color: white;
  padding-left: 1.5rem;
  font-size: 0.8rem;
}
