.header {
  display: flex;
  justify-content: center;

  div {
    padding: 2rem;
    margin-bottom: 1rem;
    max-width: fit-content;
    background-color: rgba(7, 7, 7, 0.3);
  }
  :is(h1, h2) {
    line-height: 1;
    display: flex;
    justify-content: center;
    color: white;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
    font-style: italic;
  }
}

section {
  display: flex;
  justify-content: center;
  .content {
    padding: 1.5rem;
    max-width: 1480px;
    background-color: rgba(7, 7, 7, 0.9);
    color: white;
    a {
      color: rgb(129, 14, 14);
      text-decoration: none;
    }

    b {
      font-weight: bold;
    }
  }
}
