<app-fullscreenheader></app-fullscreenheader>
<div class="header">
  <div><h1>Kurse und Workshops</h1></div>
</div>
<section>
  <div class="content">
    <h3>Fotowalks/Wanderungen und Workshopevents</h3>
    <p>
      Im laufe des Jahres 2021 sind Fotowalks/Wanderungen geplant. Inhalt dieser
      Fotowalks/Wanderungen sind Grundlagen und der Austausch mit den
      Teilnehmner. Termine, Startpunkte und Routeninformationen werde ich über
      Instagram und Facebook verteilen.
    </p>
    <p>
      Mit wunderbareb Fotografin*en aus dem Saarland und der Pfalz gibt es
      ebenfalls Planung für Workshopevents auch hier werden Termine und Orte
      über soziel Netze rechzeitig bekannt gegeben.
    </p>
    <p>
      Die Fotowalks/Wanderungen und Workshopevents werden kostenfrei.
    </p>
    <h3>Einzelkurse</h3>
    <p>
      Einzelkurse für Fotograrfie und Bildbearbeitung können gern indivduell
      geplant werden. Einfach nachfragen.
    </p>
    <h3>Kontakt</h3>
    <app-contact></app-contact>
  </div>
</section>

<app-foot></app-foot>
<app-nocookie></app-nocookie>
