div {
  position: relative;

  img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 20%;
    z-index: -1;
  }
}

.home {
  display: flex;
  position: fixed;
  a {
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
    }
  }

}
