section {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(223, 247, 12);
  text-decoration: none;
}
