<app-fullscreenheader [homeNavigation]=!presentation ></app-fullscreenheader>


<div  *ngIf="!presentation" class="header">
  <div>
    <h1>{{portfolio?.titel}}</h1>
    <h2>{{portfolio?.subtitel}}</h2>
  </div>
</div>

<section *ngIf="!presentation">
  <div class="content">
    <div class="spinner" *ngIf="pictures.length < 1">
      <fa-icon [icon]="faSpinner" [spin]="true" size="10x"></fa-icon>
    </div>

    <div class="text" [innerHTML]="portfolio?.contentup?.join('')"></div>

    <div class="gallerycontainter">
      <div *ngFor="let pic of pictures; let i=index">
        <img [src]="pic.url | sizingpipe : '320'" (click)="open(i)" />
      </div>
    </div>
    <div class="button">
      <div class="btn" (click)="shuffle()"><fa-icon [icon]="dice"></fa-icon> mehr Bilder</div>
    </div>
    <div class="text" [innerHTML]="portfolio?.contentdown?.join('')"></div>
  </div>
</section>

<app-foot *ngIf="!presentation"></app-foot>
<app-nocookie *ngIf="!presentation"></app-nocookie>
<app-slider [run]="false" [index]=index [pictures]=pictures (close) = "closeing($event)" *ngIf="presentation"> </app-slider>
