.header {
  display: flex;
  justify-content: center;
  padding-top: 10rem;

  div {
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1480px;
    background-color: rgba(7, 7, 7, 0.3);
  }
  :is(h1, h2) {
    line-height: 1;
    display: flex;
    justify-content: center;
    color: white;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
    font-style: italic;
  }
}

section {
  display: flex;
  justify-content: center;

  .content {
    padding: 1.5rem;
    width: 100%;
    max-width: 1480px;
    background-color: rgba(7, 7, 7, 0.9);
    color: white;
    .text {
      padding: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .button{
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      .btn {
        text-align: center;
        padding: 0.75rem 1.5rem;
        left: 20%;
        width: 30%;
        font-weight: bold;
        text-transform: uppercase;
        outline:3px solid;
        outline-color:#0000;
        outline-offset:-3px;
        background-color: rgba(53, 53, 53, 0.5);
        transition: 0.5s;
        &:hover {
          outline-color:white;
          background-color: rgba(75, 75, 75, 0.8);
        }
        &:active{
          outline-offset:100px;
          outline-color:#0000;
          transition:0.2s;
        }
      }
    }
    .gallerycontainter {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3.5rem;
      div {
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 20% 20%;
          transition: object-position 0.5s ease;
        }
        &:hover img{
          object-position: 60% 60%;
        }
      }

    }
    .spinner {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
    }
  }
}
