<div class="container">
  <h1>Serien</h1>
  <div class="exhibitions">
    <div class="exhibition" *ngFor="let exhibition of exhibtion$ | async">
      <div class="exhibition-image">
        <a [routerLink]="'/exhibition/' + exhibition.exibition">
          <img loading="lazy" [src]="exhibition.preview | sizingpipe : '300'" />
        </a>
      </div>
      <div class="exhibition-content">
        <a [routerLink]="'/exhibition/' + exhibition.exibition">
          <h4>
            {{exhibition.titel}}
          </h4>
          <p>{{exhibition.content}}</p>
          <div class="btn">zur Gallerie</div>
        </a>
      </div>
    </div>

  </div>
  <div class="button">
    <div class="btn" (click)="shuffle()" ><fa-icon  [icon]="dice"></fa-icon>mehr Serien</div>
  </div>
</div>

