.container {

  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    .btn {
      text-align: center;
      padding: 0.75rem 1.5rem;
      left: 20%;
      width: 30%;
      font-weight: bold;
      text-transform: uppercase;
      outline:3px solid;
      outline-color:#0000;
      outline-offset:-3px;
      background-color: rgba(53, 53, 53, 0.5);
      transition: 0.5s;
      &:hover {
        outline-color:white;
        background-color: rgba(75, 75, 75, 0.8);
      }
      &:active{
        outline-offset:100px;
        outline-color:#0000;
        transition:0.2s;
      }
    }
  }
 .exhibitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 2.5rem;
    .exhibition {
      position: relative;
      .exhibition-image {
        width: 360px;
        height: 380px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-position: 30% 30%;
          object-fit: cover;
          transition: height 0.5s, width 0.5s, object-position 0.5s;
        }
      }
      .exhibition-content {
        background-color: rgba(7, 7, 7, 0.8);
        position: absolute;
        height: 80px;
        width: 360px;
        overflow: hidden;
        bottom: 0em;
        transition: height 0.5s, background-color 1s;
        text-align: center;
        .btn {
          position: absolute;
          margin-top: 1.5rem;
          padding: 0.75rem 1.5rem;
          left: 17%;
          width: 50%;
          font-size: 0.65rem;
          font-weight: bold;
          text-transform: uppercase;
          border:3px solid;
          outline:3px solid;
          outline-offset:-3px;
          background-color: rgba(7, 7, 7, 0.5);
          transition: 0.5s;
          &:hover {
            outline-offset:50px;
            outline-color:#0000;
            transition:0.5s;
          }
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
      &:hover .exhibition-content {
        height: 380px;
        background-color: rgba(7, 7, 7, 0.3);
      }
      &:hover .exhibition-image img {
        width: 120%;
        object-position: 30% 20%;
      }
    }
  }
}
